.category {
    .img {
        height: 10rem;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #292929;
        font-size: 32px;
    }
}

.productList{
    .card{
        height: auto;
        width: 15rem;
    }

    .img{
        height: 8rem;
        width: 9rem;
        margin: 0rem 3rem 0rem 3rem;
    }
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #292929;
        font-size: 16px;
    }

    .button{
        width: 15rem;
    }
}

.productDetail{
    .img{
        height: 20rem;
        border: 1px solid black;
    }
}